body {
	background-image:url('http://sanghazenpt.files.wordpress.com/2011/03/sky-clouds-sky-clouds-1920x1200.jpg');
}

.mainWindow {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left:50%;
  margin-left: -400px;
  margin-top: -300px;
  
 
  background-image:url('http://wallpaperstock.net/image-pattern_wallpapers_4222_1680x1050.jpg');
  
-moz-box-shadow: -5px -5px 5px #000,inset 0 0 5px 5px white;
-webkit-box-shadow: -5px -5px 5px #000,inset 0 0 5px 5px white;
box-shadow: -5px -5px 5px #000,inset 0 0 7px 3px white;
}

.leftMain{
	width: 550px;
	height: 600px;
	float: left;
}

.title{
	position:relative;
	width: 550px;
	height: 100px;
	float:left;
	font-family: Verdana, sans-serif;
    font-size: 1.5em;
	
}
.title .background{
	background:#ffffff;
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.title .background *
{
	visibility:hidden;
}
.title .foreground{
	position:absolute;
	left:0%;
	top:0%;
}

.rightMenu{
	text-align:center;
	font-size: smaller;
	image-align:center;
	position:relative;
	width: 250px;
	height: 600px;
	float: right;
	
	
}
.rightMenu .background{
	background:#ffffff;
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.rightMenu .background *
{
	visibility:hidden;
}
.rightMenu .foreground{
	margin-left:30px;
	margin-top:30px;
	position:absolute;
	left:0%;
	top:0%;
}

.ui-button {width: 10em} 
}

.content {
	width: 550px;
	height: 500px;
	float:left;
	background-color:red;


}

.footer{
	width: 800px;
	height: 50px;
	margin-top:+620px;

	margin-left: auto;
    margin-right: auto;
    text-align:center;
    
-moz-box-shadow: -5px -5px 5px #000,inset 0 0 5px 5px #999;
-webkit-box-shadow: -5px -5px 5px #000,inset 0 0 5px 5px #999;
box-shadow: -5px -5px 5px #000,inset 0 0 7px 3px white;

}
.rightMenu .ui-panel .ui-panel-content {
        border: 0;
    background: none;
        padding: 0;
}